@layer global {
  /* barlow-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/barlow-v13-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* fraunces-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/fraunces-v38-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* fraunces-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    src: url("./assets/fonts/fraunces-v38-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  :root {
    --red400: hsl(7, 99%, 70%);
    --yellow500: hsl(7, 99%, 70%);
    --green500: hsl(167, 34%, 41%);
    --green800: hsl(167, 40%, 24%);
    --blue800: hsl(198, 62%, 26%);
    --grey950: hsl(212, 27%, 19%);
    --grey600: hsl(213, 9%, 39%);
    --grey550: hsl(232, 10%, 55%);
    --grey400: hsl(210, 4%, 67%);
    --white: hsl(0, 100%, 100%);
    --fs-18px: calc(18 / 16 * 1rem);
    --fs-45px: calc(45 / 16 * 1rem);
    --fs-500px: calc(500 / 16 * 1rem);
    --fs-800px: calc (800 / 16 * 1rem);
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }
  p {
    font-size: var(--fs-18px);
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--grey950);
    margin-block: 1rem;
  }
  h1 {
    font-family: "Fraunces", "Times New Roman", Times, serif;
    font-weight: 900;
    margin-block: 0;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 0.5rem;
    text-align: center;
  }
  h2,
  h3,
  h4 {
    font-family: "Fraunces", "Times New Roman", Times, serif;
    font-weight: 700;
    color: var(--grey950);
    margin-block: 1rem;
  }
  .visually-hidden {
    display: none;
  }
  @media screen and (min-width: calc(1440 / 16 * 1rem)) {
    h1 {
      font-size: 4rem;
    }
  }
}
@layer header {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 80;
    padding: 1rem;
    width: 100%;
  }
  button {
    background: none;
    border: none;
  }
  #nav-wrapper {
    display: none;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: calc(28px + 2rem);
  }
  nav {
    display: flex;
    background: var(--white);
    width: 100%;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  nav a {
    text-decoration: none;
    color: var(--grey400);
  }
  nav a:last-child {
    background: var(--yellow500);
    text-transform: uppercase;
    color: var(--grey950);
    padding: 1rem;
    border-radius: 30px;
    font-weight: 700;
    font-family: "Fraunces", "Times New Roman", Times, serif;
  }
  @media screen and (min-width: calc(1440 / 16 * 1rem)) {
    button {
      display: none;
    }
    #nav-wrapper {
      display: flex;
      align-items: flex-end;
      width: 100%;
      justify-content: end;
      position: static;
    }
    nav {
      background: none;
      flex-direction: row;
    }
  }
}
@layer hero {
  main {
    width: 100%;
  }
  .hero {
    background-image: url("./assets/images/mobile/image-header.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--fs-45px);
    height: var(--fs-500px);
    padding: 1rem;
  }

  @media screen and (min-width: calc(1440 / 16 * 1rem)) {
    .hero {
      background-image: url("./assets/images/desktop/image-header.jpg");
      height: 800px;
    }
  }
}
@layer about {
  #about-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .about-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: var(--fs-500px);
  }
  #about-transform {
    background-image: url("./assets/images/mobile/image-transform.jpg");
  }
  #about-stand-out {
    background-image: url("./assets/images/mobile/image-stand-out.jpg");
  }
  .about-content {
    padding: 3rem 2rem;
    margin: auto;
    text-align: center;
  }
  .about-content h2 {
    font-weight: 900;
    font-size: 2rem;
    width: 100%;
  }
  .about-text {
    color: var(--grey400);
    font-size: 1rem;
    line-height: 1.5;
  }
  .about-read-more {
    text-decoration: underline;
    text-decoration-color: var(--yellow500);
    text-decoration-thickness: 0.4rem;
    text-underline-offset: 0.1rem;
    text-transform: uppercase;
    color: var(--grey950);
    font-weight: 900;
    font-family: "Fraunces", "Times New Roman", Times, serif;
  }
  @media screen and (min-width: calc(1440 / 16 * 1rem)) {
    .about {
      display: flex;
      flex-direction: row;
    }
    .about-image {
      width: 50%;
    }
    .about-content {
      width: 50%;
      text-align: left;
      padding-left: 6rem;
    }
    .about-text {
      width: 60%;
    }
    #about-transform {
      background-image: url("./assets/images/desktop/image-transform.jpg");
    }
    #about-stand-out {
      background-image: url("./assets/images/desktop/image-stand-out.jpg");
    }
    #transform {
      flex-direction: row-reverse;
    }
  }
}
@layer services {
  .services {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: var(--fs-500px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5rem;
  }
  #graphic-design {
    background-image: url("./assets/images/mobile/image-graphic-design.jpg");
  }
  #photography {
    background-image: url("./assets/images/mobile/image-photography.jpg");
  }
  .services-text {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
  }
  #graphic-design h2 {
    font-weight: 900;
  }
  #graphic-design h2,
  #graphic-text {
    color: var(--green800);
  }
  #photography h2,
  #photography-text {
    color: var(--blue800);
  }
  @media screen and (min-width: calc(1440 / 16 * 1rem)) {
    #services-section {
      display: flex;
    }
    .services {
      width: 50%;
      background-position: top;
    }
    #graphic-design {
      background-image: url("./assets/images/desktop/image-graphic-design.jpg");
    }
    #photography {
      background-image: url("./assets/images/desktop/image-photography.jpg");
    }
    .services-text {
      width: 50%;
    }
  }
}
@layer testimonials {
  #testimonials {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
    padding: 3rem 0;
  }
  #testimonials h2 {
    color: var(--grey400);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
  }
  .testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .testimonial-profile-image {
    width: 75px;
    height: 75px;
  }
  .testimonial-profile-image img {
    border-radius: 50%;
    width: 100%;
  }
  .testimonial-text {
    text-align: center;
    color: var(--grey550);
    line-height: 1.7;
    font-size: 1rem;
  }
  .testimonial-name {
    margin-block: 0;
    font-size: 1.2rem;
  }
  .testimonial-role {
    color: var(--grey400);
    font-size: 0.7rem;
  }
  @media screen and (min-width: calc(1440 / 16 * 1rem)) {
    #testimonials {
      padding: 4rem 0;
    }
    .testimonial-cards {
      display: flex;
      width: 100%;
      padding: 0 3rem;
      gap: 1.5rem;
      margin: 2rem 0;
    }
    .testimonial-text {
      width: 80%;
    }
  }
}
@layer projects {
  #projects-section {
    width: 100%;
    display: grid;
    grid-template:
      "milk oranges"
      "cone sugar";
    height: 300px;
  }
  .projects-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #milk {
    background-image: url("./assets/images/mobile/image-gallery-milkbottles.jpg");
    grid-area: milk;
  }
  #orange {
    background-image: url("./assets/images/mobile/image-gallery-orange.jpg");
    grid-area: oranges;
  }
  #cone {
    background-image: url("./assets/images/mobile/image-gallery-cone.jpg");
    grid-area: cone;
  }
  #sugar {
    background-image: url("./assets/images/mobile/image-gallery-sugar-cubes.jpg");
    grid-area: sugar;
  }
  @media screen and (min-width: calc(1440 / 16 * 1rem)) {
    #projects-section {
      grid-template: "milk oranges cone sugar";
      height: 450px;
    }
    #milk {
      background-image: url("./assets/images/desktop/image-gallery-milkbottles.jpg");
    }
    #orange {
      background-image: url("./assets/images/desktop/image-gallery-orange.jpg");
    }
    #cone {
      background-image: url("./assets/images/desktop/image-gallery-cone.jpg");
    }
    #sugar {
      background-image: url("./assets/images/desktop/image-gallery-sugarcubes.jpg");
    }
  }
}
@layer footer {
  footer {
    background: var(--green500);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 2rem;
  }
  #footer-links {
    display: flex;
    justify-content: space-between;
    width: 350px;
  }
  #footer-icons {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 2rem;
  }
  #footer-links a {
    text-decoration: none;
    color: var(--green800);
  }
  #footer-icons a {
    text-decoration: none;
  }
}
